{% extends 'base.html' %}
{% block content %}
        <div class="mt-auto d-flex flex-column w-50 align-self-center">
            <h2>Approve or Report the Link to continue using LinkShare</h2>
            <hr>
            <form action="{% url 'mainapp:approval' link.urlslug %}" method="post">
                {% csrf_token %}
                <h4>{{link.title}}</h4>
                <p>{{link.link}}</p>
                <button type="submit" class="btn btn-primary" name="approved">Approve</button>
                <button type="submit" class="btn btn-danger" name="reported">Report</button>
            </form>
        </div>
{% endblock %}