{% extends 'base.html' %}
{% load crispy_forms_tags %}
    <!-- start -->
    {% block content %}
    {% include 'mainapp/navbar.html' %}
    <div class="container">
        <div class="row">
            <div class="col col-lg-8">
                <ul class="list-group list-group-flush">
                
                {% block name %}
                <p style="margin-left:40px;margin-top:10px;">
                    {% if search == "" %}
                        Trending
                    {% else %}
                        Search results
                    {% endif %}
                </p>
                {% endblock %}
                    {% for link in links %}
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="col col-lg-10">
                                    <h4 class="mb-1"><a class="text-decoration-none text-dark" href="{{ link.link }}">{{ link.title }}</a></h4>
                                    <p><a class="text-decoration-none text-success" href="{{ link.link }}">{{ link.link }}</a></p>
                                    {% for tag in link.tags.all %}
                                    <a class="badge bg-dark text-light" style="cursor: pointer;" href="{% url 'mainapp:taglinks' tag.name %}">{{ tag }}</a>
                                    {% endfor %}
                                </div>
                                <div class="col col-lg-2 d-flex flex-column justify-content-between align-items-end">
                                    <span class="badge bg-light text-dark">{{ link.clicks }} clicks</span>
                                    <span class="badge bg-success">{{ link.likes }} approved</span>
                                    <span class="badge bg-danger">{{ link.dislikes }} reported</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% empty %}
                    <li class="list-group-item">No results found</li>
                    {% endfor %}
                </ul>
                
                {% if links.has_other_pages %}
                <ul class="pagination justify-content-center">
                    {% if links.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ links.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Previous</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Previous</span>
                    </li>
                    {% endif %}
                    
                    {% for i in links.paginator.page_range %}
                        {% if links.number == i %}
                            <li class="page-item active" aria-current="page"><span class="page-link">{{ i }}</span></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if links.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ links.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Next</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Next</span>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
    {% for msg in messages %}
    <div class="alert alert-primary alert-dismissible fade show w-25 fixed-bottom mx-3" role="alert">
        {{ msg }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
    {% endblock %}