{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<form method="post" action="{% url 'account_logout' %}" class="mt-auto align-self-center w-25" >
  <h1>{% trans "Sign Out" %}</h1>
  <hr>
  <p>{% trans 'Are you sure you want to sign out?' %}</p>
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn btn-outline-dark" type="submit">{% trans 'Sign Out' %}</button>
</form>


{% endblock %}
