# Django #
*.log
*.pot
*.pyc
**/__pycache__
db.sqlite3
media
# Only for Development only
**/migrations/**
!**/migrations
!**/migrations/__init__.py

# Backup files # 
*.bak
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
