{% extends 'base.html' %}

{% block content %}
            <form class="mt-auto align-self-center w-25" method="POST" action="">
                {% csrf_token %}
                <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
                <label for="inputUsername" class="sr-only">User name</label>
                <input type="text" id="inputUsername" class="form-control" placeholder="User name" required="" autofocus="" name="username">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" name="password">
                <div class="checkbox mb-3">
                  <label>
                    <input type="checkbox" value="remember-me"> Remember me
                  </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button><br>
                <p>or</p>
                <a href="{% url 'authentication:register' %}">Register</a>
            </form>
{% endblock %}