{% extends 'base.html' %}

{% block content %}
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-3">
            <form class="form-signin text-center" method="POST" action="">
                {% csrf_token %}
                <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
                <label for="inputUsername" class="sr-only">User name</label>
                <input type="text" id="inputUsername" class="form-control" placeholder="User name" required="" autofocus="" name="username">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" name="password">
                <div class="checkbox mb-3">
                  <label>
                    <input type="checkbox" value="remember-me"> Remember me
                  </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button><br>
                <a href="{% url 'authentication:register' %}">Register</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}