{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-5">
            <form action="" method="post">
                <h1 class="h3 mb-3 font-weight-normal">Register</h1>
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button><br>
            </form>
            <a href="{% url 'authentication:login' %}">Login</a>
        </div>
    </div>
</div>
{% endblock %}